[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
remappings = [
    "@openzeppelin/=lib/openzeppelin-contracts/",
]
use_literal_content = true # use source code
solc_version = "0.8.33"
optimizer = true
optimizer_runs = 200
via_ir = true

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
eth-rpc-url="https://rpc.monad.xyz"
chain_id = 143
# Note: Set ETHERSCAN_API_KEY environment variable for verification
# etherscan-api-key="${ETHERSCAN_API_KEY}"